* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #7e1891;
  --secondary-color: #2ecc71;
  --font-size: 16px;
  --padding: 10px;
  --border-radius: 5px;
  --font-color: #333;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: var(--padding);
}
