* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #1677ff;
  --secondary-color: #b9aa22;
  --font-size: 16px;
  --padding: 10px;
  --border-radius: 5px;
  --font-color: #333;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: var(--padding);
}

/*Remove scroll bar*/

body::-webkit-scrollbar {
  display: none;
}
