.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(245, 14%, 15%);
  padding-bottom: 60px;
}

.about h1 {
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 4cqh;
  margin-top: 3rem;
  text-align: center;
}

.about h1 span {
  color: var(--primary-color);
  font-weight: 500;
}

.users {
  display: grid;
  /* Responsive columns */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
}

.user {
  background: #202020;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #fff;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 20px;
}

.user img {
  width: 100%;
  border-radius: 50%;
  width: 280px;
  height: 280px;
  object-fit: cover;
}

.user h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.user p {
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .users {
    grid-template-columns: repeat(3, 1fr);
  }
}
