.about__container {
  background: #2e2c2c;
  padding: 40px 20px;
}
.about {
  max-width: 1000px;
  margin: 0 auto;
  color: white;
}

.about h1 {
  font-size: 2rem;
  margin-bottom: 40px;
  text-align: center;
  color: var(--primary-color);
}

.about__content {
  padding: 20px;
  background: #272525;
  border-radius: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
