---
import UserTag from "../common/UserTag";
import SaveMoment from "../common/SaveMoment";
import { ArrowDown } from "lucide-react";
---

<header class="header">
  <div class="container">
    <nav class="navigation">
      <div class="menu">
        <ol>
          <li><a href="/">Inicio</a></li>
          <li><a href="#about">Nosotros</a></li>
          <li><a href="#moments">Momentos</a></li>
          <li><a href="#categories">Categorias</a></li>
          <li><a class="text-disabled">Votacion</a></li>
        </ol>
        <UserTag client:load />
      </div>
    </nav>

    <div class="header-content">
      <div class="header-content__logo">
        <img class="logo" src="/assets/header-bg2.svg" alt="Nordicos Logo" />
      </div>
      <SaveMoment client:load />
      <div class="header-content__text">
        <h1>NORDICOS <br /> AWARDS</h1>
      </div>
    </div>
    <div class="arrow-down" id="arrow-down">
      <ArrowDown size="40" />
    </div>
  </div>
  <div class="firework"></div>
  <div class="firework"></div>
  <div class="firework"></div>
</header>

<script>
  const arrowDown = document.getElementById("arrow-down");

  arrowDown?.addEventListener("click", () => {
    const about: any = document.getElementById("about");
    about.scrollIntoView({
      behavior: "smooth",
    });
  });
</script>

<style>
  header {
    background: url("/assets/header-bg.png") no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    filter: ;
    justify-content: center;
    color: white;
  }
  /* Heder box opacity */

  header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    min-height: 100vh;
  }

  header .header-content {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
  }

  .header-content__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-content__logo img {
    width: 50vw;
    animation: corrupted 3s infinite;
  }

  @keyframes corrupted {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(5deg);
    }
    50% {
      transform: rotate(-5deg);
    }
    75% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    z-index: 2;
  }

  .container .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .container .navigation .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .container .navigation .menu ol {
    display: flex;
    list-style: none;
    gap: 10px;
    font-size: 0.9rem;
  }

  .container .navigation .menu ol li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
  }

  .container .navigation .menu ol li a:hover {
    color: var(--primary-color);
  }

  .text-disabled {
    color: #ccc !important;
    cursor: not-allowed !important;
  }

  .header-content__text h1 {
    position: relative;
    font-size: 5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-text-stroke: 2px var(--primary-color);
  }

  .arrow-down {
    margin-top: 40px;
    position: relative;
    animation: bounce 2s infinite;
    cursor: pointer;
  }

  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

  @media (max-width: 1000px) {
    header .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    header .header-content__text h1 {
      font-size: 3rem;
      top: -5vh;
    }
    .header .navigation .menu ol {
      display: none !important;
    }

    .header .header-content__logo img {
      width: 80vw;
    }

    .header .navigation .menu {
      flex-direction: column;
      gap: 10px;
      align-items: flex-end;
    }
  }

  @media (min-width: 1700px) {
    header .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    header .header-content__text h1 {
      font-size: rem;
    }

    header .header-content__logo img {
      width: 30vw;
    }
  }

  @keyframes firework {
    0% {
      transform: translate(var(--x), var(--initialY));
      width: var(--initialSize);
      opacity: 1;
    }
    50% {
      width: 0.5vmin;
      opacity: 1;
    }
    100% {
      width: var(--finalSize);
      opacity: 0;
    }
  }

  /* @keyframes fireworkPseudo {
  0% { transform: translate(-50%, -50%); width: var(--initialSize); opacity: 1; }
  50% { width: 0.5vmin; opacity: 1; }
  100% { width: var(--finalSize); opacity: 0; }
}
 */
  .firework,
  .firework::before,
  .firework::after {
    overflow: hidden;
    --initialSize: 0.5vmin;
    --finalSize: 45vmin;
    --particleSize: 0.4vmin;
    --color1: yellow;
    --color2: khaki;
    --color3: white;
    --color4: lime;
    --color5: gold;
    --color6: mediumseagreen;
    --y: -60vmin;
    --x: -50%;
    --initialY: 40vmin;
    content: "";
    animation: firework 2s infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, var(--y));
    width: var(--initialSize);
    aspect-ratio: 1;
    background: 
    /*
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 0%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 0%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 100%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 100%,
    */ radial-gradient(
          circle,
          var(--color1) var(--particleSize),
          #0000 0
        )
        50% 0%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,
      /* bottom right */
        radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80% 90%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,
      /* bottom left */
        radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22% 90%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,
      /* top left */ radial-gradient(circle, var(--color6) var(--particleSize), #0000 0)
        80% 10%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,
      /* top right */ radial-gradient(circle, var(--color1) var(--particleSize), #0000 0)
        22% 14%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45% 20%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 34%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10% 29%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31% 37%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13% 42%;
    background-size: var(--initialSize) var(--initialSize);
    background-repeat: no-repeat;
  }

  .firework::before {
    --x: -50%;
    --y: -50%;
    --initialY: -50%;
    /*   transform: translate(-20vmin, -2vmin) rotate(40deg) scale(1.3) rotateY(40deg); */
    transform: translate(-50%, -50%) rotate(40deg) scale(1.3) rotateY(40deg);
    /*   animation: fireworkPseudo 2s infinite; */
  }

  .firework::after {
    --x: -50%;
    --y: -50%;
    --initialY: -50%;
    /*   transform: translate(44vmin, -50%) rotate(170deg) scale(1.15) rotateY(-30deg); */
    transform: translate(-50%, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
    /*   animation: fireworkPseudo 2s infinite; */
  }

  .firework:nth-child(2) {
    --x: 30vmin;
  }

  .firework:nth-child(2),
  .firework:nth-child(2)::before,
  .firework:nth-child(2)::after {
    --color1: pink;
    --color2: violet;
    --color3: fuchsia;
    --color4: orchid;
    --color5: plum;
    --color6: lavender;
    --finalSize: 40vmin;
    left: 30%;
    top: 60%;
    animation-delay: -0.25s;
  }

  .firework:nth-child(3) {
    --x: -30vmin;
    --y: -50vmin;
  }

  .firework:nth-child(3),
  .firework:nth-child(3)::before,
  .firework:nth-child(3)::after {
    --color1: cyan;
    --color2: lightcyan;
    --color3: lightblue;
    --color4: PaleTurquoise;
    --color5: SkyBlue;
    --color6: lavender;
    --finalSize: 35vmin;
    left: 70%;
    top: 60%;
    animation-delay: -0.4s;
  }
</style>
