---
import UserTag from "../common/UserTag";
import SaveMoment from "../common/SaveMoment";
import { ArrowDown } from "lucide-react";
import "./index.css";
---

<header class="header">
  <div class="container">
    <nav class="navigation">
      <div class="menu">
        <ol>
          <li><a href="/">Inicio</a></li>
          <li><a href="#about">Nosotros</a></li>
          <li><a href="#moments">Momentos</a></li>
          <li><a href="#categories">Categorias</a></li>
          <li><a class="text-disabled">Votacion</a></li>
        </ol>
        <UserTag client:load />
      </div>
    </nav>

    <div class="header-content">
      <div class="header-content__logo">
        <img class="logo" src="/assets/header-bg2.svg" alt="Nordicos Logo" />
      </div>
      <SaveMoment client:load />
    </div>
    <div class="arrow-down" id="arrow-down">
      <ArrowDown size="40" />
    </div>
  </div>
  <div class="firework"></div>
  <div class="firework"></div>
  <div class="firework"></div>
</header>

<script>
  const arrowDown = document.getElementById("arrow-down");

  arrowDown?.addEventListener("click", () => {
    const about: any = document.getElementById("about");
    about.scrollIntoView({
      behavior: "smooth",
    });
  });
</script>
