---
layout: layout
title: "Main Layout"
---

<main>
  <header>
    <h1>My Astro React TypeScript App</h1>
  </header>
  <section>
    <slot />
  </section>
  <footer>
    <p>&copy; 2023 My Astro React TypeScript App</p>
  </footer>
</main>